/.metadata
/.git
/files
/lost
/authserver/.classpath
/authserver/.project
/authserver/target
/authserver/bin
/authserver/.settings
/resourceserver/.classpath
/resourceserver/.project
/resourceserver/target
/resourceserver/bin
/resourceserver/.settings
/.gitignore
/spring-security-jwt